body{
  width: 420px;
  margin: 0 auto;
  margin-top: 20px;
}
.input{
  width: 85px;
  position: relative;
  left: 120px;
  top: 25px;
}
.submit{
  width: 85px;
  position: relative;
  left: 130px;
  top: 25px;
}
.titel {
  text-align: center;
}
.MSG{
  text-align: center;
}