body{
  width: 420px;
  margin: 0 auto;
  margin-top: 20px;
  background-color: white;
  
}
.tblBody{
  background-color: lightgrey;
  font-size: 30px;
}
.guess{
  width: 200px;
  margin-top: 25px;
}
.submit{
  width: 85px;
  margin-top: 25px;
  margin-left: 10px;
}
.titel {
  text-align: center;
}
.msg{
  text-align: center;
  font-size: 14px;
}